 body{
    background-image: url(2348169104565_status_b83cff373d2742158a3fee5ca01eadd1.jpg);
    background-size: 50%;
 }
 header{
    background-color: rgb(63, 233, 233);
    position: relative;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
 }
 h1{
    color: rgb(3, 54, 54);
    /* text-align: center; */
 }
 nav{
   /* justify-content: space-between; */
 }

 li{
    list-style: none;
    display: inline-block;
 }

 h2{
    color: aqua;
    font-size: 5rem;
    text-align: center;
    margin: 5%;
 }

 
